$mainColor: #F58500;
html,
body {
  height: 100%;
}
html {
	font-size: 10px;	
	font-style: normal;
	font-weight: normal;
	color: #202020;
	background-color: #fff;
	
	
}
body {
	font-family: "Montserrat", sans-serif;
	.page {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}
	.content {
		flex: 1 0 auto;
	}
	footer {
		flex: 0 0 auto;
	}
}
/*
footer прижат.(выше)
структура
body->page->content & footer
*/
a {
	&:hover {
		text-decoration: none;
	}
}
/*
	Ссылки без выделения(выше)
*/




/*
	блядские шрифты
*/
@font-face{
	font-family: 'CyrillicOld';
	src: url('../fonts/CyrillicOld.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
h1 {
	font-size: 6.4rem;
	line-height: 58px;

	color: #FFFFFF;

	text-shadow: -2px -2px 8px rgba(0, 0, 0, 0.1);
	font-family: 'CyrillicOld', arial;
}
h2 {
	font-family: CyrillicOld;
	font-size: 4.8rem;
	line-height: 44px;
	text-align: center;
}
p {
	font-size: 1.6rem;
	line-height: 22px;

	color: #000000;
	&.size_18 {
		font-size: 1.8rem;
	}
}
.size_24 {
	font-size: 2.4rem!important;
}
.header__black {
	color: #303030;
}
.header__white {
	color: #fff;
}


