.form {
	.checkbox { display: none; }
	.checkbox__label {
		cursor: pointer;
		display: inline-block;
		width: 20px;
		height: 20px;
		background: none;
		border: 1px solid #fff;
		border-radius: 4px;
		margin-right: 6px;
		position: relative;
		padding: 2px;
	}
	.checkbox:checked + .checkbox__label:before { 
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		height: 70%;
		content: "";
		background: url("../img/checked.svg") no-repeat;
	}
	.form__info {
		font-weight: 400;
		text-align: left;
		font-size: 1.4rem;
		line-height: 17px;
		color: #FFFFFF;
	}
	p.form__info {
		font-size: 1.4rem;
	}
	input {
		background: none;
		border: none;
		border: 1px solid #fff;
		border-radius: 0;
		padding: 8px 15px;
		font-size: 1.8rem;
		color: #fff;
		width: 80%;
		&:focus{
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: #808080;
		} 
		&::-moz-placeholder {
			color: #808080;
		}
	}
	textarea {
		background: none;
		border: none;
		border: 1px solid #fff;
		border-radius: 0;
		padding: 8px 15px;
		font-size: 1.8rem;
		color: #fff;
		width: 80%;
		&:focus{
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: #808080;
		} 
		&::-moz-placeholder {
			color: #808080;
		}
	}
}