.btn {
	border-radius: 100px;
	padding: 1rem;
	font-size: 1.6rem;
	font-weight: bold;
	&.btn_header {
		border: 1px solid #FFFFFF;
		background: none;
		color: #fff;	
		&:hover {
			background-color: $mainColor;
			color: #fff;
		}	
	}
	&.btn_welcome {
		background-color: #fff;
		border: 0;
		color: $mainColor;
		min-width: 140px;
	}
	&.btn_form {
		background-color: #fff;
		border: 0;
		color: $mainColor;
		min-width: 140px;
	}
	&.btn_catalog {
		border: 1px solid $mainColor;
		background: none;
		color: $mainColor;
		min-width: 140px;
		&:hover {
			background-color: $mainColor;
			color: #fff;
		}
	}
}