.modal-content {
	border-radius: 8px;
	.modal-header {
		border: unset;
		button {
			span {
				font-size: 4rem
			}
			
		}
	}
	.modal-body {
		padding: 0 2rem 5rem 2rem;		
	}
	.form {
		width: 100%;
		span {
			font-size: 1.8rem;
			line-height: 22px;
			color: #303030;
			display: block;
		}
		.modal__header {
			font-family: CyrillicOld;
			font-size: 3.6rem;
			line-height: 33px;
			color: #303030;
			display: block;
			text-align: center;
		}
		.checkbox__label {
			border: 1px solid #303030;
		}
		svg{
			&.svg__checkbox {
				fill: $mainColor;
			}
		}
		a {
			color: #303030;
			display: block;
		}
		p {
			color: #303030;
		}
		.checkbox:checked + .checkbox__label:before { 
		background: url("../img/checked_modal.svg") no-repeat;
	}
		input {
			border: 1px solid #303030;
			background-color: transparent;
			width: 100%;
			padding: 10px 20px;
			color: #000;
			&:focus{
				outline: none;
			}
			&::-webkit-input-placeholder {
				color: #C4C4C4;
			} 
			&::-moz-placeholder {
				color: #C4C4C4;
			}
		}
		textarea {
			border: 1px solid #303030;
			background-color: transparent;
			width: 100%;
			padding: 10px 20px;
			color: #000;
			&:focus{
				outline: none;
			}
			&::-webkit-input-placeholder {
				color: #C4C4C4;
			} 
			&::-moz-placeholder {
				color: #C4C4C4;
			}
		}
	}
	
}
.modal {
	&.modal__item {
		span {
			font-size: 1.8rem;
			line-height: 22px;
			color: #000000;
			display: inline-block;
			&.modal_item_header {
				font-weight: bold;
				font-size: 3.6rem;
				line-height: 44px;
				color: #303030;
			}
			&.modal_item_bold {
				font-weight: 500;
			}
		}
		.catalog__price {
			color: $mainColor;
			font-size: 3.6rem;
		}
	}
}