doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic" rel="stylesheet")
		link(href="http://allfont.ru/allfont.css?fonts=cyrillicold" rel="stylesheet" type="text/css")
		link(rel="stylesheet" href="css/main.min.css")
		title New project
	body
		div(class="page")
			header(class="py-3")
				div(class="container")
					div(class="row")
						div(class="col-12")
							nav(class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between")
								a(class="navbar-brand" href="#")
									img(class="" src="img/logoBig.svg" alt="logo")
								button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation")
									span(class="navbar-toggler-icon")
								div(class="collapse navbar-collapse" id="navbar")
									ul(class="navbar-nav w-100 d-flex justify-content-start")
										li(class="d-flex justify-content-center nav-item active pl-5")
											a(class="nav-link" href="#")
												| Главная
										li(class="d-flex justify-content-center nav-item pl-5")
											a(class="nav-link" href="#")
												| О компании
										li(class="d-flex justify-content-center nav-item pl-5")
											a(class="nav-link" href="#")
												| Печи
										li(class="d-flex justify-content-center nav-item pl-5")
											a(class="nav-link" href="#")
												| Контакты
								div(class="ml-3 d-none d-lg-block")
									button(class="btn btn_header" data-toggle="modal" data-target="#ModalCenter")
										| Заказать звонок
								div(class="ml-0 ml-lg-5 block_phone")
									a(class="phone" href="tel:+73512234252")
										| +7 351 223 42 52
								

			div(class="content")
				section(class="welcome")
					div(class="container")
						div(class="row align-items-center")
							div(class="col-12 col-lg-4 py-5 py-lg-0 p-lg-0")
								h1()
									| Банные печи
								p(class="py-4")
									| В наличии и на заказ
								button(class="btn btn_welcome" data-toggle="modal" data-target="#ModalCenter")
									| Заказать
							div(class="welcome__content_wrap col-8 flex-row align-items-end justify-content-start p-0 d-none d-lg-flex")
								div(class="welcome__content")
									span(class="d-block text-right ")
										| Толстый металл
										img(class="lazyload ml-4" data-src="img/play.svg" alt="play")
									span(class="d-block pad_center text-right")
										| Колосник-чугун
										img(class="lazyload play_size_1-2 ml-3" data-src="img/play.svg" alt="play")
									span(class="d-block pad_third text-right")
										strong(class="pl-3")
											| Гарантия 5 лет
										img(class="lazyload play_size_1-3 ml-3" data-src="img/play.svg" alt="play")
								img(class="lazyload  img_bl" data-src="img/pech.png" alt="img")
				section(class="pechi pb-5")
					div(class="container pb-5")
						div(clas="row")
							div(class="col-12")
								h2(class="header__black")
									| Лучшие банные печи
						div(class="row justify-content-between py-5")
							div(class="col-12 col-lg-3 d-flex flex-column justify-content-center")
								div(class="pechi__item d-flex align-items-center")
									p(class="m-0")
										| Преимущество
									div(class="ml-3")
										span
								div(class="pechi__item pechi__item_pad d-flex align-items-center")
									p(class="m-0")
										| Преимущество
									div(class="ml-3")
										span
								div(class="pechi__item d-flex align-items-center")
									p(class="m-0")
										| Преимущество
									div(class="ml-3")
										span
							div(class="col-12 col-lg-6 d-flex justify-content-center")
								img(class="lazyload img-fluid" data-src="img/pech_2.png" alt="img")
							div(class="col-12 col-lg-3 d-flex flex-column justify-content-center pt-4 pt-lg-0")
								div(class="pechi__item d-flex align-items-center")
									div(class="mr-3")
										span
									p(class="m-0")
										| Преимущество
								div(class="pechi__item pechi__item_pad d-flex align-items-center")
									div(class="mr-3")
										span
									p(class="m-0")
										| Преимущество
									
								div(class="pechi__item d-flex align-items-center")
									div(class="mr-3")
										span
									p(class="m-0")
										| Преимущество
				section(class="price py-4")
					div(class="container")
						div(class="row")
							div(class="col-lg-5")
								h2(class="header__white py-4 text-left")
									| Получите на почту 
									span
										| прайс-лист
								form(class="form d-flex flex-column align-items-start")
									input(type="text" class="w-100" placeholder="Имя*")
									input(type="tel" class="w-100" class="my-4" placeholder="Телефон*")
									input(type="email" class="w-100 mb-4" placeholder="E-mail*")
									div(class="d-flex align-items-start justify-content-center py-3")
										label(class="m-0")
											input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
											span(for="checkbox" class="checkbox__label")
										p( class="form__info pl-3")
											| Согласен с политикой обработки<br>
											a(href="#" class="form__info")
												| персональных данных
									button(type="submit" class="btn btn_form")
										| Получить

							div(class="col-lg-6 d-none d-lg-block")
								img(class="lazyload" data-src="img/banya.png" alt="img")
				section(class="catalog py-5")
					div(class="container")
						div(class="row")
							div(class="col-12")
								h2(class="py-5 text-left")
									| Каталог
						div(class="row justify-content-between")
							div(class="col-6 col-md-4 col-lg-3 pb-4")
								div(class="catalog__item d-flex flex-column align-items-center p-3" data-toggle="modal" data-target="#ModalItem")
									img(class="lazyload img-fluid" data-src="img/item.png" alt="img")
									span(class="catalog__hedaer pt-2 pb-4")
										| Печь банная
									span(class="catalog__price")
										| 9 990 &#8381;
							div(class="col-6 col-md-4 col-lg-3 pb-4")
								div(class="catalog__item d-flex flex-column align-items-center p-3"  data-toggle="modal" data-target="#ModalItem")
									img(class="lazyload img-fluid" data-src="img/item.png" alt="img")
									span(class="catalog__hedaer pt-2 pb-4")
										| Печь банная
									span(class="catalog__price")
										| 9 990 &#8381;
							div(class="col-6 col-md-4 col-lg-3 pb-4")
								div(class="catalog__item d-flex flex-column align-items-center p-3"  data-toggle="modal" data-target="#ModalItem")
									img(class="lazyload img-fluid" data-src="img/item.png" alt="img")
									span(class="catalog__hedaer pt-2 pb-4")
										| Печь банная
									span(class="catalog__price")
										| 9 990 &#8381;
							div(class="col-6 col-md-4 col-lg-3 pb-4")
								div(class="catalog__item d-flex flex-column align-items-center p-3"  data-toggle="modal" data-target="#ModalItem")
									img(class="lazyload img-fluid" data-src="img/item.png" alt="img")
									span(class="catalog__hedaer pt-2 pb-4")
										| Печь банная
									span(class="catalog__price")
										| 9 990 &#8381;
							div(class="col-6 col-md-4 col-lg-3 pb-4")
								div(class="catalog__item d-flex flex-column align-items-center p-3"  data-toggle="modal" data-target="#ModalItem")
									img(class="lazyload img-fluid" data-src="img/item.png" alt="img")
									span(class="catalog__hedaer pt-2 pb-4")
										| Печь банная
									span(class="catalog__price")
										| 9 990 &#8381;
							div(class="col-6 col-md-4 col-lg-3 pb-4")
								div(class="catalog__item d-flex flex-column align-items-center p-3"  data-toggle="modal" data-target="#ModalItem")
									img(class="lazyload img-fluid" data-src="img/item.png" alt="img")
									span(class="catalog__hedaer pt-2 pb-4")
										| Печь банная
									span(class="catalog__price")
										| 9 990 &#8381;
							div(class="col-6 col-md-4 col-lg-3 pb-4")
								div(class="catalog__item d-flex flex-column align-items-center p-3"  data-toggle="modal" data-target="#ModalItem")
									img(class="lazyload img-fluid" data-src="img/item.png" alt="img")
									span(class="catalog__hedaer pt-2 pb-4")
										| Печь банная
									span(class="catalog__price")
										| 9 990 &#8381;
							div(class="col-6 col-md-4 col-lg-3 pb-4")
								div(class="catalog__item d-flex flex-column align-items-center p-3"  data-toggle="modal" data-target="#ModalItem")
									img(class="lazyload img-fluid" data-src="img/item.png" alt="img")
									span(class="catalog__hedaer pt-2 pb-4")
										| Печь банная
									span(class="catalog__price")
										| 9 990 &#8381;
						div(class="row")
							div(class="col-12 text-center py-5")
								button(class="btn btn_catalog" data-toggle="modal" data-target="#ModalCenter")
									| Заказать
				section(class="carmap py-5")
					div(class="container py-5")
						div(class="row")
							div(class="col-12 ppy-5")
								h2(class="text-left")
									| Доставляем по всей России
							div(class="col-12 py-5")
								img(class="lazyload img-fluid" data-src="img/car.png" alt="img")
				section(class="about py-5")
					div(class="container")
						div(class="row")
							div(class="col-12 py-5")
								h2(class="text-left py-5")
									| О компании
						div(class="row")
							div(class="col-12 col-lg-5")
							div(class="col-12 col-lg-7")
								p(class="size_18")
									| Компьютеры коренным образом изменили жизнь каждого человека. Несколько десятилетий назад люди даже не знали ничего об этих электронных устройствах, тогда как в наши дни даже маленький ребенок может управлять этой машиной. Почти все современные технологии зависит от компьютеров, которые используются для хранения данных: файлов, секретной информации, банковских операций и прочего.
				section(class="catalog feadback py-5")
					div(class="container py-5")
						div(class="row")
							div(class="col-12 py-5")
								h2(class="text-left py-5")
									| Отзывы
						div(class="row")
							div(class="col-12 col-md-6 col-lg-3 pb-4 pb-lg-0")
								div(class="catalog__item pt-4  px-3 d-flex flex-column align-items-center")
									img(class="lazyload" data-src="img/man.png" alt="img")
									span(class="catalog__hedaer pt-2 pb-4")
										| Михаил
									p
										| Компьютеры коренным образом изменили жизнь каждого человека. Несколько десятилетий назад люди даже не знали ничего об этих электронных устройствах.
							div(class="col-12 col-md-6 col-lg-3 pb-4 pb-lg-0")
								div(class="catalog__item pt-4  px-3 d-flex flex-column align-items-center")
									img(class="lazyload" data-src="img/man.png" alt="img")
									span(class="catalog__hedaer pt-2 pb-4")
										| Михаил
									p
										| Компьютеры коренным образом изменили жизнь каждого человека. Несколько десятилетий назад люди даже не знали ничего об этих электронных устройствах.
							div(class="col-12 col-md-6 col-lg-3 pb-4 pb-lg-0")
								div(class="catalog__item pt-4  px-3 d-flex flex-column align-items-center")
									img(class="lazyload" data-src="img/man.png" alt="img")
									span(class="catalog__hedaer pt-2 pb-4")
										| Михаил
									p
										| Компьютеры коренным образом изменили жизнь каждого человека. Несколько десятилетий назад люди даже не знали ничего об этих электронных устройствах.
							div(class="col-12 col-md-6 col-lg-3 pb-4 pb-lg-0")
								div(class="catalog__item pt-4  px-3 d-flex flex-column align-items-center")
									img(class="lazyload" data-src="img/man.png" alt="img")
									span(class="catalog__hedaer pt-2 pb-4")
										| Михаил
									p
										| Компьютеры коренным образом изменили жизнь каждого человека. Несколько десятилетий назад люди даже не знали ничего об этих электронных устройствах.




				
			div(class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true")
				div(class="modal-dialog modal-dialog-centered" role="document")
					div(class="modal-content")
						div(class="modal-header")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times
						div(class="modal-body")
							div(class=" d-flex p-0")
								div(class="form")
									span(class="modal__header mb-1")
										| Оставьте контакты
									span(class="text-center py-3 pb-5")
										| и мы свяжемся с вами
									form(class="form d-flex flex-column align-items-start")
										input(type="text" class="w-100" placeholder="Имя*")
										input(type="tel" class="w-100" class="my-4" placeholder="Телефон*")
										input(type="email" class="w-100 mb-4" placeholder="E-mail*")
										div(class="d-flex align-items-start justify-content-center py-3")
											label(class="m-0")
												input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
												span(for="checkbox" class="checkbox__label")
											p( class="form__info pl-3")
												| Согласен с политикой обработки 
												a(href="#" class="form__info")
													| персональных данных
										div(class="text-center w-100")
											button(type="submit" class="btn btn_catalog")
												| Заказать
			div(class="modal fade modal__item" id="ModalItem" tabindex="-1" role="dialog" aria-labelledby="ModalItemTitle" aria-hidden="true")
				div(class="modal-dialog modal-dialog-centered modal-xl" role="document")
					div(class="modal-content")
						div(class="modal-header")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times
						div(class="modal-body")
							form(class="form")
								div(class="conatiner")
									div(class="row")
										div(class="col-6 col-lg-4")
											img(class="lazyload img-fluid" data-src="img/item.png" alt="img")
										div(class="col-12 col-lg-4")
											span(class="modal_item_header pb-5")
												| Печь банная
											ul
												li(class="pb-3")
													span
														| Прямоугольной формы (ПМ-5)
												li(class="py-3")
													span(class="modal_item_bold pr-3")
														| Металл:
													span
														| 6-8 мм
												li(class="py-3")
													span(class="modal_item_bold pr-3")
														| Обогрев: 
													span
														| 22 м
														sup
															| 3
												li(class="py-3")
													span(class="modal_item_bold pr-3")
														| Колосник: 
													span
														| чугун
												li(class="py-3")
													span
														| С верхней каменкой
										div(class="col-6 col-lg-3 offset-0 offset-lg-0 d-flex flex-column align-items-end")
											div(class="catalog text-right")
												span(class="catalog__price")
													| 9 990 &#8381;
											
									div(class="row pt-4 px-5")
										div(class="col-12")
											span(class="modal_item_bold")
												| Описание:
											p(class="py-4")
												| Итак, мы можем подвести итог, что современные технологии, и компьютеры в частности, имеют как положительные, так и отрицательные последствия для жизни людей.
									div(class="row px-5")
										div(class="col-12")
											span(class="modal_item_header size_24")
												| Соберите свою печь
										div(class="col-12 col-lg-3")
											div
												span(class="modal_item_bold py-4")
													| Предназначение
												div(class="d-flex align-items-center justify-content-start py-3 pt-4")
													label(class="m-0")
														input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
														span(for="checkbox" class="checkbox__label")
													p( class="form__info pl-3 m-0")
														| Для бани
												div(class="d-flex align-items-center justify-content-start py-3")
													label(class="m-0")
														input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
														span(for="checkbox" class="checkbox__label")
													p( class="form__info pl-3 m-0")
														| Для обогрева помещений
										div(class="col-12 col-lg-2")
											div
												span(class="modal_item_bold py-4")
													| Толщина
												div(class="d-flex align-items-center justify-content-start py-3 pt-4")
													label(class="m-0")
														input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
														span(for="checkbox" class="checkbox__label")
													p( class="form__info pl-3 m-0")
														| 4 мм
												div(class="d-flex align-items-center justify-content-start py-3")
													label(class="m-0")
														input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
														span(for="checkbox" class="checkbox__label")
													p( class="form__info pl-3 m-0")
														| 6 мм
												div(class="d-flex align-items-center justify-content-start py-3")
													label(class="m-0")
														input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
														span(for="checkbox" class="checkbox__label")
													p( class="form__info pl-3 m-0")
														| 8 мм
										div(class="col-12 col-lg-3")
											div
												span(class="modal_item_bold py-4")
													| Дополнительно
												div(class="d-flex align-items-center justify-content-start py-3 pt-4")
													label(class="m-0")
														input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
														span(for="checkbox" class="checkbox__label")
													p( class="form__info pl-3 m-0")
														| Встроенная камера поджига
												div(class="d-flex align-items-center justify-content-start py-3")
													label(class="m-0")
														input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
														span(for="checkbox" class="checkbox__label")
													p( class="form__info pl-3 m-0")
														| Внутренний дымоход
												div(class="d-flex align-items-center justify-content-start py-3")
													label(class="m-0")
														input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
														span(for="checkbox" class="checkbox__label")
													p( class="form__info pl-3 m-0")
														| Плита нагрева воды
												div(class="d-flex align-items-center justify-content-start py-3")
													label(class="m-0")
														input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
														span(for="checkbox" class="checkbox__label")
													p( class="form__info pl-3 m-0")
														| С внутренней и внешней каменкой
												div(class="d-flex align-items-center justify-content-start py-3")
													label(class="m-0")
														input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
														span(for="checkbox" class="checkbox__label")
													p( class="form__info pl-3 m-0")
														| С варочной поверхностью
												div(class="d-flex align-items-center justify-content-start py-3")
													label(class="m-0")
														input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
														span(for="checkbox" class="checkbox__label")
													p( class="form__info pl-3 m-0")
														| Камера дожига
									div(class="row pt-5")
										div(class="col-12 col-lg-5")
											input(type="text" class="w-100" placeholder="Имя*")
										div(class="col-12 col-lg-5")
											input(type="tel" class="w-100"  placeholder="Телефон*")
										div(classs="col-6 col-lg-2")
											button(class="btn btn_catalog")
												| Заказать


			footer(class="footer")
				div(class="container")
					div(class="row align-items-center")
						div(class="col-12 col-lg-4 pb-4 pb-lg-0")
							div(class="d-flex align-items-center")
								img(class="lazyload" data-src="img/point.svg" alt="img")
								span(class="d-block pl-3")
									| Челябинск, ул. Аральская, 4
							a(href="tel:+73512234252" class="d-flex align-items-center my-4")
								img(class="lazyload" data-src="img/tel.svg" alt="img")
								span(class="d-block pl-3")
									| +7 351 223 42 52
							a(href="mailto:2234252@mail.ru" class="d-flex align-items-center")
								img(class="lazyload" data-src="img/mail.svg" alt="img")
								span(class="d-block pl-3")
									| 2234252@mail.ru
						div(class="col-12 col-lg-8")
							iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9103.730750009432!2d61.39150808112479!3d55.2194230181285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ec92074bc3df%3A0xc822e3b0da1c5967!2z0YPQuy4g0JDRgNCw0LvRjNGB0LrQsNGPLCA0LCDQp9C10LvRj9Cx0LjQvdGB0LosINCn0LXQu9GP0LHQuNC90YHQutCw0Y8g0L7QsdC7LiwgNDU0MDI1!5e0!3m2!1sru!2sru!4v1566296361138!5m2!1sru!2sru" class="w-100" height="450" frameborder="0" style="border:0" allowfullscreen)

						
			script(src="js/main.min.js")
