/* INCLUD SASS */
@import "reset/_reset.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "default/_default.scss";

@import 'header/_header.scss';
@import "button/_button.scss";
@import "form/_form.scss";
@import "modalWindow/_modal.scss";
@import "footer/_footer.scss";


.welcome {
	background: url("../img/welcome.png") no-repeat;
	background-position: top center;
	background-size: cover;
	min-height: 1000px;
	position: relative;
	span {
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 22px;
		color: #fff;
		&.pad_center {
			padding: 90px 0;
			padding-right: 5rem;
		}
		&.pad_third {
			padding-right: 4rem;
		}
		.play_size_1-2 {
			width: 45px;
		}
		.play_size_1-3 {
			width: 35px;
		} 
		strong {
			font-weight: 500;
		}
	}
	.welcome__content_wrap {
		margin-right: -20%;
	}
	.welcome__content {
		width: 40%;
		padding-bottom: 14rem;
		margin-right: -10%;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	p {
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 29px;
		color: #fff;
	}
	.img_bl {
		width: 70%;
	}
	@media (min-width: 982px) and (max-width: 1600px){
		.img_bl {
			margin-top: -30%;
			width: 80%;
		}
	}
	@media (max-width: 981.98px) {
		min-height: 600px;
	}
	@media (max-width: 581.98px) {
		min-height: 400px;
	}
}





.pechi {
	.pechi__item {
		p {
			font-size: 1.8rem;
			line-height: 22px;
		}
		div{
			border: 2px solid $mainColor;
			padding: 5px;
			border-radius: 100%;
			width: 30px;
			height: 30px;
			span {
				display: block;
				width: 14px;
				height: 14px;
				background-color: $mainColor;
				border-radius: 100%;
				margin: auto;
			}
		}
		&.pechi__item_pad{
			padding: 100px 0;
			@media (max-width: 981.98px) {
				padding: 20px 0;

			}
		}
		@media (max-width: 981.98px){
			display: flex;
			justify-content: center; 
		}
	}

}




.price {
	background: url("../img/ban.png") no-repeat;
	background-position: center;
	background-size: cover;
	h2 {
		span {
			color: $mainColor;
		}
	}
}







.catalog {
	.catalog__item {
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		transform: scale(1);
		transition: all 0.5s;
		cursor: pointer;
		&:hover {
			transform: scale(1.05);
			transition: all 0.5s;
		}
	}
	.catalog__hedaer {
		display: block;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 22px;
		text-align: center;
		color: #000000;
	}
	.catalog__price {
		display: block;
		font-weight: bold;
		font-size: 2.4rem;
		line-height: 29px;
		text-align: center;

		color: $mainColor;
	}
}