header {
	background-color: #303030;
	transition: background 0.5s;
	z-index: 1000;
	&.active {
		background: rgba(0, 0, 0, 0.9);
		transition: background 0.5s;
	}
	.navbar {
		@media (max-width: 981.98px) {
			.navbar-collapse {
				padding-top: 40px;
				order: 1;
			}
		}
	}
}
.nav-item {
	.nav-link {
		font-size: 1.8rem;
		line-height: 1.3;
		color: #FFFFFF!important;
		transition: color 0.3s;
		&:hover {
			transition: color 0.3s;
			color: $mainColor!important;
		}		
	}
	&.active{
		.nav-link {
			color: $mainColor!important;
			font-weight: bold;
		}
	}
}
.phone {
	font-weight: bold;
	font-size: 2rem;
	line-height: 130%;
	color: $mainColor;
	&:hover {
		text-decoration: none;
		color: $mainColor;
	}
}